# Build artifacts
/target/
Cargo.lock

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Env
.env
programs/target/
node_modules/
target/
programs/target/
.anchor/
*.log

deposit.json
*.json
!package.json
!package-lock.json
!tsconfig.json
!tsconfig.*.json
web/node_modules
web/dist
relayer/node_modules
wasm/target
test-ledger/

relayer/dist/
relayer/auth.db
web/.trash/
