[features]
seeds = false
skip-lint = false

[programs.localnet]
stark_verifier = "StArKSLbAn43UCcujFMc5gKc8rY2BVfSbguMfyLTMtw"
murkl_program = "74P7nTytTESmeJTH46geZ93GLFq3yAojnvKDxJFFZa92"

[programs.devnet]
stark_verifier = "StArKSLbAn43UCcujFMc5gKc8rY2BVfSbguMfyLTMtw"
murkl_program = "74P7nTytTESmeJTH46geZ93GLFq3yAojnvKDxJFFZa92"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
